/* Importar tema de PrimeNG */
@import '~primeng/resources/themes/vela-orange/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


/* Import Google Fonts in CSS as a fallback */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

